/* animate this class to bounce like if it is floating on the space from top to bottom */
.float-avatar{
    animation: float 4s infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
