.wink-avatar {
    width: 50%;
}

.float-avatar{
    animation: float 4s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(-60px);
    }
    60% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-60px);
    }
}

@font-face {
    font-family: Bubbles;
    src: url('../fonts/Bubble3D.ttf') format('truetype');
}


#title{
    display: inline;
    font-family: Bubbles;
}

/* add media query for mobile devices */
@media (max-width: 768px) {
    #title{
        font-size: 40px;
        text-align: center;
        display: block  !important;
    }

    .mud-grid{
        display: block !important;
    }

    .float-avatar{
        display: none;
    }

    #not_found{
        width: 70%;
    }
}

/* add media query for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    #title{
        font-size: 70px;
    }

    #not_found{
        width: 30%;
    }
}

/* add media query for desktops */
@media (min-width: 1024px) {
    #title{
        font-size: 100px;
    }

    #not_found{
        width: 30%;
    }
}

#footer{
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}